@media screen and (min-width: 767px) { /*ウィンドウ幅が767px以上の場合に適用*/
    
}



@media screen and (max-width: 767px) { /*ウィンドウ幅が最大767pxまでの場合に適用*/

}


@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/

}

.tile {

    width:100px; 

    height:100px;

    font-family:arial black;

    font-size: x-large;

  }




body{
    background-color: #FAF0E6;
}
